.card {
    position: relative;
    width: 420px;
    height: 250px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.data {
    position: absolute;
    top: 120px;
    left: 0;
}

.cvcdata {
    margin-left: 320px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
}

.topcircles {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 25px;
}

.topcircles .leftcircle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.topcircles .rightcircle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 15px;
}

.card_content {
    position: absolute;
    width: 80%;
    bottom: 10%;
    color: #fff;
    letter-spacing: 2px;
    margin: auto;
    left: 10%;
}

.card_num {
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

.card_det {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}